<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="5">
        <title>Computer Lab Seating</title>
    </head>

    <body>
        <h1>Availability:</h1>
        <p>Computer 1 2: {{ comp12_occupied }}</p>
        <p>Computer 1 3: {{ comp13_occupied }}</p>
        <p>Computer 1 4: {{ comp14_occupied }}</p>
        <p>Computer 2 1: {{ comp21_occupied }}</p>
        <p>Computer 2 2: {{ comp22_occupied }}</p>
        <p>Computer 2 3: {{ comp23_occupied }}</p>
        <p>Computer 2 4: {{ comp24_occupied }}</p>
        <!-- This is so tedious to keep copy and pasting. -->
        <p>Computer 2 5: {{ comp12_occupied }}</p>
        <p>Computer 3 1: {{ comp31_occupied }}</p>
        <p>Computer 3 2: {{ comp32_occupied }}</p>
        <p>Computer 3 3: {{ comp33_occupied }}</p>
        <p>Computer 3 4: {{ comp34_occupied }}</p>
        <p>Computer 3 5: {{ comp35_occupied }}</p>
        <p>Computer 3 6: {{ comp36_occupied }}</p>
        <script> 
        
        </script>

    </body>

</html>